@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Optima', 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.font-notable {
  font-family: 'Notable', sans-serif;
}

.font-optima {
  font-family: 'Optima', 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}
